@import "./utils/variables";

@import "./utils/mixins";

@import "./layouts/header";

@import "./layouts/menu";

@import "./layouts/footer";

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 2px solid red;  */
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}
