.btn {
  border-style: none;
  color: white;
  height: 50px;
  width: 185px;
  border-radius: 25px;
  background: linear-gradient(-20deg, $color-primary, $color-secondary);
  @include shadow;
  @include flex-center;
}

.btn:hover {
  filter: brightness(110%);
  @include shadow--darker;
}
