.heart {
  width: 1.5rem;

  transition: 400ms;
}

.heart:hover {
  color: transparent;
  background: -webkit-linear-gradient(
    -120deg,
    $color-primary,
    $color-secondary
  );
  background-clip: image;
  color: transparent;
}
