.heart {
  font-size: 1.6rem;

  .fas.fa-heart {
    display: block;
    transition: opacity 400ms ease-in-out;
    color: transparent;
    background: -webkit-linear-gradient(
      -120deg,
      $color-primary,
      $color-secondary
    );
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
  }

  .far.fa-heart {
    display: block;
    transition: opacity 400ms ease-in-out;
    position: relative;
    color: black;
    width: 0px;
    height: 0px;
    z-index: 99;

    &:hover {
      opacity: 0;
    }

    &:hover + .fas.fa-heart {
      color: transparent;
      background: -webkit-linear-gradient(
        -120deg,
        $color-primary,
        $color-secondary
      );
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 1;
    }
  }
}
