$font-logo: Shrikhand;
$font-text: Roboto;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-text;
  font-weight: normal;
  background-color: white;
}

a,
address {
  all: unset;
}

ul,
li {
  all: unset;
  display: block;
}

a {
  cursor: pointer;

}

img {
  width: 100%;
}

// Heart icon outline
