$font-logo: Shrikhand;
$font-text: Roboto;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$header-height: 63px;
$arrow-size: 20px;
$brand-size: 30px;

$color-bg: #f6f6f6;
$footer-bg-color: #353535;

$border-radius:15px;


$dish-max-count: 10;