.localization {
  position: relative;
  height: 5ch;
  @include flex-center;
  background-color: #eaeaea;
  box-shadow: 0 5px 5px lightgray inset;

  & > i {
    position: absolute;
    translate: -10ch;
  }
}

.introduction {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  background-color: $color-bg;
  padding: 40px 0 60px 0;

  h2 {
    width: 20ch;
    max-width: 80%;
  }

  p {
    width: 40ch;
    margin: 15px 0 30px 0;
  }

  .btn {
    width: 24ch;
  }
}

.home {
  section {
    padding: 47px 5.3vw 70px 5.3vw;
    display: flex;
    @include flex-center;

    h2 {
      font-weight: 700;
      margin-bottom: 30px;
    }

    > .container {
      width: 100%;
      max-width: 1200px;
      > .container {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }
  }
}

#fonctionnement {
  > .container {
    article {
      display: flex;
      align-items: center;
      height: 72px;
      margin-left: 15px;
      border-radius: 20px;

      &::before {
        content: "";
        width: 0;
        @include flex-center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
        font-size: 1rem;
        position: relative;
        left: -0.8rem;
      }

      .container {
        display: flex;
        padding-top: 0.2rem;
        width: calc(25ch + 25px);

        i {
          width: 3rem;
          color: grey;
          padding: 0 20px 0 8px;
          translate: (0 0.1rem);
        }
      }
    }

    a:nth-of-type(1) {
      article::before {
        content: "1";
      }

      i {
        font-size: 1.3rem;
      }
    }
    a:nth-of-type(2) {
      article::before {
        content: "2";
      }
      i {
        font-size: 1.1rem;
      }
    }
    a:nth-of-type(3) {
      article::before {
        content: "3";
      }
      i {
        font-size: 1rem;
      }
    }
  }
}

#restaurants {
  background-color: $color-bg;

  > .container {
    article {
      padding: 0;
      flex-direction: column;
      position: relative;
      overflow: hidden;

      &.nouveau::after {
        content: "Nouveau";
        position: absolute;
        display: block;
        width: fit-content;
        font-size: 0.9rem;
        padding: 5px 11.5px 5px 11.5px;
        top: 12px;
        right: 12px;
        margin-left: auto;
        text-align: end;
        justify-content: end;
        background-color: $color-tertiary;
        color: #008766;
        border-radius: 3px;
      }

      a:nth-of-type(1) .container {
        position: relative;
        overflow: hidden;
        height: 46vw;
        width: 100%;

        img {
          @include image-center;
          min-height: 100%;
        }
      }

      &:nth-of-type(1) a .container img {
        top: -25%;
      }
      &:nth-of-type(2) a .container img {
        top: -30%;
      }
      &:nth-of-type(3) a .container img {
        top: -35%;
      }
      &:nth-of-type(4) a .container img {
        top: -30%;
      }

      > .container {
        display: flex;
        padding: 12px;

        .heart {
          font-size: 1.6rem;
          padding: 4px 10px 0 0;
        }

        > .container {
          margin-right: auto;

          a {
            display: flex;
            flex-direction: column;
            gap: 3px;
            .resto {
              font-size: 1.13rem;
            }

            .resto-sub {
              font-size: 1.07rem;
              font-weight: 300;
            }
          }
        }

        i {
          align-self: center;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .home section#fonctionnement > .container > .container {
    @include flex-center;
    flex-direction: row;

    a {
      width: 100%;
    }
  }

  .home section#restaurants > .container > .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;

    .card a > .container {
      height: 20vw;
      max-height: 280px;
    }
  }
}
