header {
  @include flex-center;
  height: $header-height;
  font-family: $font-logo;
  font-size: $brand-size;
  padding-top: 8px;

  .arrow {
    font-size: $arrow-size;
    position: absolute;
    left: ($header-height/2) - ($arrow-size/2);
  }
}
