.background-image {
  width: 100%;
}

.heading {
  position: relative;
  padding: 0 5.3vw 0 5.3vw;
}

.heading::before {
  content: "";
  position: absolute;
  top: -11vw;
  left: 0;
  display: block;
  height: 11vw;
  width: 100vw;
  background-color: $color-bg;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  z-index: 100;
}

section {
  margin: 0 5.3vw 0 5.3vw;
  display: relative;

  > h2::after {
    content: "";
    display: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background-color: $color-tertiary;
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 2.2rem;
  font-family: $font-logo;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: -0.3rem;

  h1 {
    line-height: 100%;
    font-size: 1.75rem;
    font-weight: normal;
    z-index: 99;
  }

  i.fas.fa-heart {
    font-size: 1.35rem;
    padding-right: 4.5vw;
  }
}
i.fas.fa-heart {
  color: $color-bg;
}

section {
  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  #restaurants {
    background-color: $color-bg;
  }

  > .container {
    display: block;
    flex-direction: column;
    gap: 14px;
  }

  .card-dish {
    padding: 0;

    > .container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;

      .dish {
        font-weight: 700;
        font-size: 1.1rem;
      }
      > .container {
        display: flex;
        .dish-sub {
          margin-right: auto;
          font-weight: 300;
          font-size: 0.95rem;
        }

        .dish-price {
          font-weight: 700;
        }
      }
    }
  }
}
