main {
  background-color: $menu-bg-color;
}

.background-image {
  width: 100%;
}

.rounded-top {
  position: relative;
  height: 0;
  top: -10.5vw;
}

.rounded-top::after {
  content: "";
  display: block;
  height: 11vw;
  width: 100vw;
  background-color: $menu-bg-color;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  z-index: 100;
}

.heading,
section {
  margin: 0 5.3vw 0 5.3vw;
}

.heading {
  margin-top: 0;
  margin-bottom: 2.2rem;
  font-family: $font-logo;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: -0.3rem;

  h1 {
    line-height: 100%;
    font-size: 1.75rem;
    font-weight: normal;
    z-index: 99;
  }

  i {
    color: $menu-bg-color;
    font-size: 1.35rem;
    padding-right: 4.5vw;

  }
}

section {
  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .underline {
    width: 40px;
    height: 3px;
    background-color: $color-tertiary;
  }

  > .container {
    display: flex;
    flex-direction: column;
    gap: 14px;


}

.card-dish {

    .dish {
      font-weight: 700;
      font-size: 1.1rem;
    }
    > .container {
      display: flex;
      .dish-sub {
        margin-right: auto;
        font-weight: 300;
        font-size: 0.95rem;
      }

      .dish-price {
        font-weight: 700;
      }
    }
  }
}